/*Colors used
background color (white): #fff
text color (navy blue): #304a76
button color (gray): #F5F5F5
*/


body {
  background-color: #fff;
  font-family: : 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

h1 {
  color: #304a76;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  letter-spacing: 1px;
}

p {
  font-family: 'Roboto', sans-serif;
  display: block;
  color: #304a76;
  text-transform:capitalize;
  letter-spacing: 1px;
}

/*This is where the pokemon are displayed*/

.pokemon-button {
  background-color: #F5F5F5;
  color: #304a76;
  font-size: 22px;
  padding: 20px 40px;
  letter-spacing: 1px;
  width: 50%;
  text-transform: capitalize;
}

.pokemon-button:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.pokemon-list {
  list-style-type: none;
}

/*styling for modal*/

#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* CSS for modal container*/
  display: block;
  margin: 10px auto;
  padding: 10px auto;
  border: 10px;
  position: fixed;
  width: 50%;
  margin-left: 50%;
  margin-right: 50%;
  z-index: 999;
  overflow: auto;
  text-align: center;
  opacity: 0.9;
  overflow: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

#show-modal {
  display: none;
}

.modal {
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  background: #F5F5F5;
  border-color: #304a76;
  border-width: medium;
}

.modal-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

p {
  font-size: 24px;
  font: Roboto;
  color: #304a76;
}


 @media all and (max-width: 500px) {

}
@media all and (min-width: 500px) and (max-width: 750px) {

}
@media all and (max-width: 750px) {

  }
